<!DOCTYPE html>
<html>
<head>
	<title>THIS IS LESSON FOUR! PERSONAL WEB PAGE WHAT</title>

	<link rel="stylesheet" type="text/css" href="css/style.css">
	
</head>

<body>

<div id="wrapper">

<!-- H1 id for big text to span whole wrapper-->

<a href="index.html"><h1 id="bigtext">JR's Whiskey and Video Game Party</h1></a>

<!-- big box for content -->

	<nav>
		
			<div id="menuc"><img src="images/q.svg" width="500"><div id="subtext">WHAT</div><div id="bottomtextbox">Whiskey and Video Games! Bring your favorite whiskey or enjoy what I've got here. Games that will be available to play : Street Fighter 2 TURBO (SNES Version) and Mario Kart (SNES Version). We will be holding a tournament, bring your skills!</div></div>
		
	</nav>


<div id="bottomtext">Joseph Martin Rivera &ndash; <a href="http://www.jmr1.com">www.jmr1.com</a> &ndash; January 2014 </div>

</div>

</body>

</html>