<!DOCTYPE html>
<html>
<head>
	<title>THIS IS LESSON FOUR! PERSONAL WEB PAGE WHERE</title>

	<link rel="stylesheet" type="text/css" href="css/style.css">
	
</head>

<body>

<div id="wrapper">

<!-- H1 id for big text to span whole wrapper-->

<a href="index.html"><h1 id="bigtext">JR's Whiskey and Video Game Party</h1></a>

<!-- big box for content -->

	<nav>
		
			<div id="menuc"><img src="images/where.svg" width="500"><div id="subtext">WHERE</div><div id="bottomtextbox">112 Lincoln Avenue, Bronx, NY 10454</div></div>
		
	</nav>


<div id="bottomtext">Joseph Martin Rivera &ndash; <a href="http://www.jmr1.com">www.jmr1.com</a> &ndash; January 2014 </div>

</div>

</body>

</html>